<header class="contenedor-encabezado">
  <h1 class="titulo-principal">TutorMatch</h1>

  <% if user_signed_in? %>

    <%= link_to "Crear Oferta", crear_oferta_path, class: "boton-simple" %>
    <%= link_to "Volver", root_path, class: "boton-simple" %>
    <div>
      <h2 class="mensaje-bienvenida">¡Hola, <%= current_user.email %>!</h2>

      <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, data: { turbo: "false" }, class: "boton-cerrar-sesion" %>
    </div>

  <% else %>
    <p>Para ver el contenido, necesitas identificarte.</p>

    <div>
      <%= link_to "Iniciar Sesión", new_user_session_path, style: "margin-right: 20px;" %>
      
      <%= link_to "Registrarse", new_user_registration_path %>
    </div>
  <% end %>
</header>